<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>


  <!--Main Content-->
  <main class="container">

    <div class="jumbotron">
     <h3 class="display-6"><img src="/Assets/images/omarLogo1.png.png" alt="omar" width="75" ><strong> Welcome to my <%= title %> Page </strong> <img src="/Assets/images/omarLogo1.png.png" alt="omar" width="75" > </h3>
     <hr class="my-4">
     <%- include Partials/home.ejs %>

     <%- include Partials/about.ejs %>

     <%- include Partials/projects.ejs %>

     <%- include Partials/services.ejs %>

     <%- include Partials/contact.ejs %>

    </div>
  </main>
<%- include Partials/bottom_nav.ejs %>


<%- include Partials/footer.ejs %>
